@model Marvel.Models.Comic

<div class="thumbnail-container">
    <a href="@Url.Action("Comic","Comics", new { id = Model.id })">
        <div class="thumbnail thumbnail-comic btn btn-default">
            <img src="@(Model.thumbnail.path + "/standard_xlarge." + Model.thumbnail.extension)" alt="image">
            <div class="caption">
                <h4>@Model.title</h4>
                <p>@Model.description</p>
            </div>
        </div>
    </a>
</div>