@model Marvel.Models.Comic

<div class="thumbnail">
    <img src="@(Model.thumbnail.path + "/standard_fantastic." + Model.thumbnail.extension)" alt="image">
    <div class="caption">
        <h3>@Model.title</h3>
        <p>@Model.description</p>
    </div>

    @Html.ActionLink("go!", "Details", "Comic", new { id = Model.id}, null)
</div>