@model Marvel.Models.ComicDataContainer

<div class="container-fluid">
    <div class="row">

            @foreach (Marvel.Models.Comic comic in Model.results)
            {
                <div class="col-md-3 col-xs-6">
                    @{Html.RenderPartial("_ComicThumbnail", comic);}
                </div>
            }                
    </div>
</div>
