body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: black;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/


/*  Search Bar */

.input-disabled{
    background-color:#EBEBE4;
}

.search-heading {
    padding : 0px 15px;
}

.col-search h3 {
    padding-top:6px;
    margin-top:6px;
}

.col-search {
    height:50px;
}

/* Lists */
.btn-list {
    width:100%;
}

 /* Ressource views */
.dl-horizontal dt {
    white-space: normal;
}

.right-col, .left-col {
    margin-top:40px;
}

.left-col img {
    width:100%;
}

/* Thumbnails*/

.thumbnail {
    overflow:hidden;
    height: 300px;
    
}

.thumbnail-container a{
    text-decoration:none;
}
.thumbnail h4, .thumbnail p {
    white-space:nowrap;
    overflow:hidden;    
    text-overflow:ellipsis;
}




/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
